<br>

<!-- Primera fila de la Home -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-block text-xs-center">
        <i class="fa fa-key fa-3x"></i>
        <h4 class="card-title">Clientes</h4>
        <p class="card-text">Da de alta a nuevos clientes o consulta los ya existentes.</p>
        <%= link_to "Clientes", clientes_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-block text-xs-center">
        <i class="fa fa-building fa-3x"></i>
        <h4 class="card-title">Propietarios</h4>
        <p class="card-text">Da de alta a nuevos propietarios o consulta los ya existentes.</p>
        <%= link_to "Propietarios", propietarios_path, class: "btn btn-primary" %>
      </div>    </div>
    <div class="col-sm-4">
      <div class="card card-block text-xs-center">
        <i class="fa fa-home fa-3x"></i>
        <h4 class="card-title">Propiedades</h4>
        <p class="card-text">Da de alta a nuevas propiedades o consulta los ya existentes.</p>
        <a href="#" class="btn btn-primary">Propiedades</a>
      </div>
    </div>
  </div>


<!-- Segunda fila de la Home -->


  <div class="row">
    <div class="col-sm-4">
      <div class="card card-block text-xs-center">
        <i class="fa fa-map fa-3x"></i>
        <h4 class="card-title">Mapa</h4>
        <p class="card-text">Consulta el mapa con todas las propiedades localizadas.</p>
        <a href="#" class="btn btn-primary">Mapa</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-block text-xs-center">
        <i class="fa fa-briefcase fa-3x"></i>
        <h4 class="card-title">Asesores</h4>
        <p class="card-text">Consulta los asesores.</p>
        <a href="#" class="btn btn-primary">Asesores</a>
      </div>
    </div>
  </div>
</div>
